<!DOCTYPE html>
<html>
  <head>
    <title>Discord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">   
      window.android = "<%= image_url('splash/android.svg') %>"
      window.iphone = "<%= image_url('splash/iphone.svg') %>"
      window.controller = "<%= image_url('splash/controller.svg') %>"
      window.desktop = "<%= image_url('splash/desktop.svg') %>"
      window.laptop = "<%= image_url('splash/laptop.svg') %>"
      window.potion = "<%= image_url('splash/potion.svg') %>"
      window.disc = "<%= image_url('splash/disc.svg') %>"
      window.headphones = "<%= image_url('splash/headphones.svg') %>"
      window.box = "<%= image_url('splash/box.svg') %>"
      window.gamepak = "<%= image_url('splash/gamepak.svg') %>"
      window.bomb = "<%= image_url('splash/bomb.svg') %>"
      window.coin = "<%= image_url('splash/coin.svg') %>"
      window.triangle = "<%= image_url('splash/triangle.svg') %>"
      window.circle = "<%= image_url('splash/circle.svg') %>"
      window.circlefill = "<%= image_url('splash/circlefill.svg') %>"
      window.square = "<%= image_url('splash/square.svg') %>"
      window.x = "<%= image_url('splash/x.svg') %>"
      window.cog = "<%= image_url('cog.png')%>%"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
